.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #fff;
    height: 3rem;
    line-height: 3rem;
    border-bottom: 1px solid #ddd;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5em;
    font-weight: 700;
}

.ul {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    list-style: none;
}

.link {
    padding: 0 10px;
    display: block;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.link:hover {
    background-color: dodgerblue;
    color: #fff;
}

.active {
    background-color: dodgerblue;
    color: #fff;
}

.menuBar {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

/* dropdown menu style */
.mainMenu {
    position: relative;
}

.mainMenu:hover .dropdown {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}

.dropdown {
    position: absolute;
    z-index: 9;
    background-color: white;
    width: 12em;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.dropdown ul {
    list-style: none;
    display: block;
    width: 100%;
}

.dropdown ul li {
    padding: 0;
    margin: 0 !important;
}

.dropdown ul li .dropdown_link {
    display: block;
    transition: all 0.3s ease-in-out;
    height: 30px;
    line-height: 30px;
    padding: 0 0.6em;
    font-size: 0.7em;
    text-align: center;
}

.dropdown ul li .dropdown_link:hover {
    background-color: dodgerblue;
    color: white;
}

/* dropdown menu style */

@media (max-width: 760px) {
    .menuBar {
        display: block;
        font-size: 1.3em;
    }

    /* main menu */
    .ul {
        position: absolute;
        display: block;
        top: calc(0px + 3rem);
        right: 0;
        transform-origin: top;
        transform: scale(0);
        width: 100%;
        height: fit-content;
        text-align: center;
        z-index: 99;
        background-color: #fff;
    }

    .link {
        font-size: 1.08em;
    }

    /* main menu */

    /* dropdown menu */
    .dropdown {
        position: unset;
        width: 100%;
        background-color: #f6f6f6;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        visibility: hidden;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    .mainMenu:hover .dropdown {
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
        display: block;
    }

    .dropdown_link{
        font-size: 1.02em !important;
    }

    /* dropdown menu */
}

@media (prefers-color-scheme: dark) {
    .ul {
        background-color: #000;
    }

    .bars {
        color: #fff;
    }

    .dropdown {
        background-color: #000;
    }
}